<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpKxvOgN7_MdfJyszkjbqmjunLQURg4tE</string>
	<key>GCM_SENDER_ID</key>
	<string>816148216608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneApp</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-dbce2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-dbce2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816148216608:ios:66947e3fa10706b0853545</string>
</dict>
</plist>